[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio= "*"
pandas= "*"
numpy= "*"
# Visualize query pipeline
pyvis = "*"
llama-index = "*"
phoenix = "*"

[dev-packages]

[requires]
python_version = "3.12"
